### LINEAR REGRESSION USING MULTIPLE FEATURE . x = all the refined attributes/features affecting prices and y = price, using refined data of 4994 rows and 14 columns

In [74]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [75]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import mean_squared_error

In [76]:
df2 = pd.read_csv("housingnew.csv")

In [77]:
df2.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,condition,grade,sqft_above,sqft_basement,yr_built,lat,long,sqft_living15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,3,7,1180,0,1955,47.5112,-122.257,1340
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,3,7,2170,400,1951,47.7210,-122.319,1690
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,3,6,770,0,1933,47.7379,-122.233,2720
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,5,7,1050,910,1965,47.5208,-122.393,1360
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,3,8,1680,0,1987,47.6168,-122.045,1800

In [78]:
df2.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
lat              0
long             0
sqft_living15    0
dtype: int64

In [79]:
y = df2["price"]

In [80]:
x = df2.drop(["price","date"],axis =1)

In [81]:
p = np.array(x).reshape(4994,14)

In [82]:
p.shape

(4994, 14)

In [83]:
q = np.array(y)

In [84]:
q.shape

(4994,)

In [85]:
x.describe()

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,condition,grade,sqft_above,sqft_basement,yr_built,lat,long,sqft_living15
count,4.994000e+03,4994.000000,4994.000000,4994.000000,4.994000e+03,4994.000000,4994.000000,4994.000000,4994.000000,4994.000000,4994.000000,4994.000000,4994.000000,4994.000000
mean,4.630080e+09,3.371245,2.062074,2060.901882,1.616682e+04,1.432819,3.454746,7.595114,1753.192831,307.709051,1966.662595,47.559271,-122.215886,1976.927513
std,2.871185e+09,0.910551,0.773912,923.890579,4.602908e+04,0.510889,0.677567,1.166606,818.632623,456.330474,28.287537,0.139485,0.141845,674.858400
min,1.000102e+06,0.000000,0.000000,380.000000,6.090000e+02,1.000000,1.000000,3.000000,380.000000,0.000000,1900.000000,47.155900,-122.514000,620.000000
25%,2.151225e+09,3.000000,1.500000,1410.000000,5.400000e+03,1.000000,3.000000,7.000000,1190.000000,0.000000,1949.000000,47.463425,-122.329000,1490.000000
50%,4.022300e+09,3.000000,2.000000,1890.000000,7.875000e+03,1.000000,3.000000,7.000000,1530.000000,0.000000,1968.000000,47.572800,-122.235000,1820.000000
75%,7.345528e+09,4.000000,2.500000,2500.000000,1.123300e+04,2.000000,4.000000,8.000000,2130.000000,600.000000,1990.000000,47.679100,-122.129000,2340.000000
max,9.842300e+09,9.000000,6.750000,10040.000000,1.651359e+06,3.500000,5.000000,13.000000,7680.000000,3000.000000,2015.000000,47.777600,-121.315000,5790.000000

In [86]:
x_train, x_test, y_train, y_test = train_test_split(
    p, q, test_size=0.2)

In [87]:
x.columns

Index(['id', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_built', 'lat',
       'long', 'sqft_living15'],
      dtype='object')

In [88]:
linreg = LinearRegression()

In [89]:
linreg.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [90]:
print (linreg.intercept_)
print (linreg.coef_)

-37159666.571669474
[ 7.01782081e-07 -6.36413007e+04  3.34990809e+04  1.47914361e+02
  4.93763913e-02 -4.73439461e+03  2.29139389e+04  9.86115049e+04
  8.41529701e+01  6.37613911e+01 -3.17540450e+03  5.00101272e+05
 -1.54876604e+05  4.06293359e+01]

In [91]:
linreg.predict([[7,3,2,1000,2000,2,3,7,1000,1000,2014,47.5112,-122.257,1340]])

array([116227.88401134])

In [92]:
linreg.score(x_test,y_test)

0.5964975624871074

In [93]:
mse = mean_squared_error(y_test, linreg.predict(x_test))
np.sqrt(mse)

226443.48399862365